@font-face {
  font-family: "debugbar";
  src: url("../font/debugbar.eot?11439546");
  src: url("../font/debugbar.eot?11439546#iefix") format("embedded-opentype"),
  url("../font/debugbar.woff?11439546") format("woff"),
  url("../font/debugbar.ttf?11439546") format("truetype"),
  url("../font/debugbar.svg?11439546#debugbar") format("svg");
  font-weight: normal;
  font-style: normal;
}

$adb-icon-cog: "\e800";
$adb-icon-headphonses: "\e801";
$adb-icon-home: "\e802";
$adb-icon-eye: "\e803";

[class^="icon-"]:before, [class*="adb-icon-"]:before {
  font-family: "debugbar";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.adb-icon-cog:before { content: $adb-icon-cog; }
.adb-icon-headphones:before { content: $adb-icon-headphonses; }
.adb-icon-home:before { content: $adb-icon-home; }
.adb-icon-eye:before { content: $adb-icon-eye; }