$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deeppurple: #673AB7;
$indigo: #3F51B5;
$lightblue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$lightgreen: #8BC34A;
$lime: #CDDC39;
$lightyellow: #FFEB3B;
$orange: #FF9800;
$deeporange: #FF5722;
$grey: #9E9E9E;
$bluegrey: #607D8B;
$brown: #795548;
$lightgrey: #ECECEC;