@import "material_design_colors";
@import "icons";

$debugBarHeight: 200px;
$box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
$box-sizing: border-box;
$transitions: all 300ms ease-in;
$textColor: #555;
$fontSize: 16px;
$backgroundColor: #fafafa;
$buttonBorderRadius: 5px;

#angular-debug-bar {
  z-index: 9999;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: -$debugBarHeight;
  height: $debugBarHeight;
  color: $textColor;
  font-size: $fontSize;
  background: $backgroundColor;
  border-top: 1px solid $lightgrey;

  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  &, * {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;

    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;

    &:before,
    &:after {
      -webkit-box-sizing: $box-sizing;
      -moz-box-sizing: $box-sizing;
      box-sizing: $box-sizing;
    }
  }

  &.show {
    bottom: 0;

    button,
    button:hover {
      top: -21px;
    }

    ul {
      overflow: auto;
      max-height: $debugBarHeight;
    }
  }

  button {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: -13px;
    text-align: center;
    padding: 3px;
    border: none;
    outline: 0;
    background: $lightblue;

    -webkit-border-top-left-radius: $buttonBorderRadius;
    -webkit-border-top-right-radius: $buttonBorderRadius;
    -moz-border-radius-topleft: $buttonBorderRadius;
    -moz-border-radius-topright: $buttonBorderRadius;
    border-top-left-radius: $buttonBorderRadius;
    border-top-right-radius: $buttonBorderRadius;

    &:hover {
      top: -21px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 20px auto 0;
    display: block;
    width: 90%;

    li {
      padding: 15px;
      width: 20%;
      height: 100px;
      float: left;
      text-align: center;

      .value-wrapper {
        [class^="icon-"]:before, [class*=" icon-"]:before {
          font-size: 150%;
        }

        .value {
          font-size: 1.8em;
          font-weight: bold;
          border-bottom: 1px dotted
        }

        .unit {
          font-size: 1.2em;
          margin-left: 3px;
        }
      }

      .label {
        font-size: 1em;
        margin-top: 5px;
        color: $grey;
      }
    }
  }
}